@import "~bootstrap/scss/bootstrap.scss";
.container {background: black; width: 1%;
height: 100px;}
.container1 {background: black; width: 10%;
height: 180px;
margin-left: 45%;
border-radius: 10%;}
.Traffic {background: red; width: 60px;
height: 60px;
margin-left: 15%;
border-radius: 50%;
box-shadow: red;}
.Traffic1 {background: orange; width: 60px;
height: 60px;
margin-left: 15%;
border-radius: 50%;
box-shadow: orange;}
.Traffic2 {background: green; width: 60px;
height: 60px;
margin-left: 15%;
border-radius: 50%;
box-shadow: green;}

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
